.blog-author--no-cover h3::before {
    background: url("../img/addvise-icon.png");
    background-size: cover;
    border-radius: 50%;
    content: " ";
    display: inline-block;
    height: 32px;
    margin-right: .5rem;
    position: relative;
    top: 8px;
    width: 32px;
}

.comments{
        margin-top: 30px;
        border-radius: 25px;
        outline: black;
        border: 2px solid lightgray;
        padding: 20px; 
}


